@import "../../_theme.scss";

#home-component {
  margin-top: 30px;

  .title {
    // font-size: mat-font-size($custom-typography, body-1);
    border-bottom: 1px solid mat-color($app-primary, 100);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    /* UX enhancement */
    padding-left: 4%;
    /* UX enhancement end */
  }
  .discription {
    //  font-size: mat-font-size($custom-typography, caption);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    /* UX enhancement */
    padding-left: 4%;
    /* UX enhancement end */
  }
  .header--logo {
    vertical-align: middle;
    cursor: pointer;
    /* UX enhancement */
    padding-left: 4%;
    /* UX enhancement end */
  }
}
