.mat-toolbar {
  color: var(--color-primary-dark);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px var(--color-primary-dark);
  // opacity: 1;

  // NEW
  // position: fixed;
  // z-index: 999;
  // background-color: #ffffff; /* change header color */
  border-width: 1px;
  // overflow-x: hidden;
  padding: 0px 2vw;
  /* border-bottom: solid 5px yellow; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* border-bottom: 3px solid #ffff1f; */
  border-image: url(../../../assets/images/borderBg.svg);
  border-image-source: url(../../../assets/images/borderBg.svg);
  border-image-slice: 20;
  border-image-width: 10;
  border-image-outset: 1;
  border-image-repeat: round;
  border-image-slice: 20;
  border-image-width: 10;
  border-image-outset: 1;
  border-image-repeat: round;
}
.mosip-logo {
  flex: 2;
  margin: 6px 0 0px;
  opacity: 1;
  cursor: pointer !important;
  span {
    display: inline-block;
    vertical-align: top;
  }
  .mosip-text {
    font-size: 18px;
    opacity: 1;
    font-family: "Roboto", sans-serif;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 50px;
    object-fit: contain;
  }
}
.version-txt {
  font-size: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  margin-top: -19px;
}
.zone {
  text-align: center;
  // flex: 1;
  //background: #3b99bc 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 0.8;
  color: var(--bg-primary);
  opacity: 1;
  // min-width: 115px;
  width: 100px;
  text-overflow: ellipsis;
  .zone-text {
    height: 20px;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 100;
  }

  @media (max-width: 840px) {
    h6 {
      width: 50px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

[dir*="rtl"] .profile {
  text-align: end !important;
}

.profile {
  flex: 2;
  text-align: right;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--bg-primary);
    object-fit: contain;
  }
}

@media (max-width: 600px) {
  .zone {
    flex: 1;
  }
  .mosip-logo {
    flex: 1;
  }
  .profile {
    flex: 1;
  }
}
