<mat-toolbar>
  <div
    class="menu"
    [ngStyle]="{ display: screenResize > 840 ? 'none' : 'block' }"
  >
    <button mat-icon-button id="menu" (click)="sideMenuService.openNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="mosip-logo">
    <span>
        <img *ngIf="(screenResize > 840) || (screenResize <= 470)"
             src="./assets/images/mosip-logo-picto.png"
             style="max-height: 2.82rem; width: fit-content;"
             alt="Logo"/>
        <img *ngIf="(screenResize <= 840 && screenResize > 470)"
             src="./assets/images/mosip-logo-white.png"
             style="height: 2.82rem; width: fit-content;"
             alt="Logo"/>
    </span>
    &nbsp;
    <span [ngStyle]="{ display: screenResize > 840 ? 'inline-block' : 'none' }">
        <strong class="mosip-text">MOSIP</strong>
        <strong class="version-txt"> {{ 'headermessage.vesion' | translate }} : {{ appVersion }}</strong>
    </span>
  </div>
  <div class="zone">
    <span class="zone-text">{{ 'headermessage.Zone' | translate }} - {{ zone }}</span>
  </div>
  <div class="profile">
    <app-hamburger-menu [data]="profile"></app-hamburger-menu>
  </div>
</mat-toolbar>
